@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  width: 100%;
  background-color: var(--text-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #ddd;
  color: black;
}

nav .logo a {
  font-size: 2rem;
  font-weight: 600;
  color: goldenrod;
  transition: 0.3s;
  font-family: 'Franklin Gothic
